<h2>Admin::Feeds#new</h2>

<% form_for @feed, :url => admin_feeds_path do |f| -%>
<%= f.error_messages %>
<p>
  <label>URL:</label>
  <%= f.text_field :url %>
</p>
<p>
  <%= f.submit 'Add This Feed' %>
</p>
<% end -%>
